/* @import url('meta-box.css'); */

:root {
    --wda-border: 1px solid #dbdbdb;
}

#postdivrich,
.wp-list-table,
.postbox-container .postbox {
    border: 0 !important;
    box-shadow: 4px 4px 9px 2px rgba(0,0,0,.04) !important;
    border-radius: 10px;
    padding: 10px 0;
}

.wp-admin .wp-list-table {
    margin: 15px 0 !important;
    padding: 20px 0 !important;
}

.wp-list-table :is(thead, tfoot) tr {
    background-color: #eceeff !important;
}

.wp-list-table :is(thead, tfoot) :is(td, th) {
    font-weight: 800;
    padding: 15px 0 !important;
}

.wp-list-table thead :is(td, th) {
    border-bottom: 2px solid #e6e6e6;
}

.wp-list-table tfoot :is(td, th) {
    border-top: 2px solid #e6e6e6 !important;
}

/* Option Pages (.wrap form) */

body:not(.plugins-php) #wpbody-content .wrap form:not(:has(.wp-list-table)) {
	padding: 15px 30px;
    background: #fff;
    border-radius: 7px;
    width: fit-content;
    margin-top: 20px;
}

#wpbody-content .wrap form .form-table {
    border-bottom: 2px dashed #d1d1d1e5;
    margin-bottom: 50px;
}

/* #wpbody-content .wrap form .form-table tr {
    border-bottom: 1px solid #d1d1d1e5;
} */


/* Form */

input, select {
    border: var(--wda-border) !important;
    border-radius: 5px !important;
    padding: 5px 12px !important;
}

.submit input[type="submit"],
.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
    color: #fff !important;
    background-color: #6e6cff !important;
    border: var(--wda-border) !important;
    border-radius: 5px !important;
    padding: 2px 20px !important;
    font-size: 15px !important;
}

.wp-core-ui :is(.button, .button-secondary),
a.page-title-action {
    color: #2271b1 !important;
	border-color: #1a2bfd47 !important;
    background-color: #e0dcff78 !important;
}

/* Product Meta Box */
#_wdass_event_data .inside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post-type-product .tablenav input, .post-type-product .tablenav select, .post-type-shop_order .tablenav input, .post-type-shop_order .tablenav select, .woocommerce_page_wc-orders .tablenav input, .woocommerce_page_wc-orders .tablenav select {
    height: auto !important;
}

#events-table {
    min-width: 800px;
}

#events-table :is(th, td) {
    text-align: left;
    padding: 10px !important;
    border-bottom: 1px solid #d1d1d1;
}